.emoji {
    background-image: url(../images/fb_emoji.png);
    background-repeat:no-repeat;
    background-size: auto;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 3px;
}

.postPreview .emoji {
    margin: 1px;
    vertical-align: middle;
}

#emoticons {
    background: white;
    border: 1px solid #ddd;
    padding: 2px;
}

#emoticons .emoji:hover {background-color: #e9eaed;}

._4_o0._1a-{background-position:-18px -424px}
._4_o1._1a-{background-position:-35px -424px}
._4_o2._1a-{background-position:-52px -424px}
._4_o3._1a-{background-position:-69px -424px}
._4_o4._1a-{background-position:-86px -424px}
._4_o5._1a-{background-position:-103px -424px}
._4_o6._1a-{background-position:-120px -424px}
._4_o7._1a-{background-position:-137px -423px}
._4_o8._1a-{background-position:-154px -423px}
._4_o9._1a-{background-position:-171px -423px}
._4_oa._1a-{background-position:-188px -423px}
._4_ob._1a-{background-position:0 -441px}
._4_oc._1a-{background-position:-17px -441px}
._4_od._1a-{background-position:-34px -441px}
._4_oe._1a-{background-position:-51px -441px}
._4_of._1a-{background-position:-68px -441px}
._2b_._1a-{background-position:-85px -441px}
._2c0._1a-{background-position:-102px -441px}
._4_og._1a-{background-position:-119px -441px}
._4_oh._1a-{background-position:-136px -441px}
._4_oi._1a-{background-position:-153px -441px}
._4_oj._1a-{background-position:-170px -441px}
._4_ok._1a-{background-position:-187px -441px}
._4_ol._1a-{background-position:-204px -441px}
._2c1._1a-{background-position:-221px -441px}
._2c2._1a-{background-position:-238px -441px}
._2c3._1a-{background-position:-255px -441px}
._2c4._1a-{background-position:-272px -441px}
._2c5._1a-{background-position:-289px -441px}
._2c6._1a-{background-position:0 -458px}
._2c7._1a-{background-position:-17px -458px}
._2c8._1a-{background-position:-34px -458px}
._2c9._1a-{background-position:-51px -458px}
._2ca._1a-{background-position:-68px -458px}
._2cb._1a-{background-position:-85px -458px}
._2cc._1a-{background-position:-102px -458px}
._2cd._1a-{background-position:-119px -458px}
._2ce._1a-{background-position:-136px -458px}
._2cf._1a-{background-position:-153px -458px}
._2cg._1a-{background-position:-170px -458px}
._4_om._1a-{background-position:-187px -458px}
._4_on._1a-{background-position:-204px -458px}
._4_oo._1a-{background-position:-221px -458px}
._2ch._1a-{background-position:-238px -458px}
._2ci._1a-{background-position:-255px -458px}
._2cj._1a-{background-position:-272px -458px}
._2ck._1a-{background-position:-289px -458px}
._4_op._1a-{background-position:0 -475px}
._4_oq._1a-{background-position:-17px -475px}
._4_or._1a-{background-position:-34px -475px}
._4_os._1a-{background-position:-51px -475px}
._4_ot._1a-{background-position:-68px -475px}
._4_ou._1a-{background-position:-85px -475px}
._4_ov._1a-{background-position:-102px -475px}
._4_ow._1a-{background-position:-119px -475px}
._4_ox._1a-{background-position:-136px -475px}
._4_oy._1a-{background-position:-153px -475px}
._4_oz._1a-{background-position:-170px -475px}
._4_o-._1a-{background-position:-187px -475px}
._4_o_._1a-{background-position:-204px -475px}
._4_p0._1a-{background-position:-221px -475px}
._4_p1._1a-{background-position:-238px -475px}
._4_p2._1a-{background-position:-255px -475px}
._4_p3._1a-{background-position:-272px -475px}
._4_p4._1a-{background-position:-289px -475px}
._4_p5._1a-{background-position:0 -492px}
._4_p6._1a-{background-position:-17px -492px}
._2cl._1a-{background-position:-34px -492px}
._2cm._1a-{background-position:-51px -492px}
._4_p7._1a-{background-position:-68px -492px}
._4_p8._1a-{background-position:-85px -492px}
._2cn._1a-{background-position:-102px -492px}
._2co._1a-{background-position:-119px -492px}
._2cp._1a-{background-position:-136px -492px}
._2cq._1a-{background-position:-153px -492px}
._2cr._1a-{background-position:-170px -492px}
._2cs._1a-{background-position:-187px -492px}
._4_p9._1a-{background-position:-204px -492px}
._2ct._1a-{background-position:-221px -492px}
._2cu._1a-{background-position:-238px -492px}
._2cv._1a-{background-position:-255px -492px}
._2cw._1a-{background-position:-272px -492px}
._4_pa._1a-{background-position:-289px -492px}
._2cx._1a-{background-position:0 -509px}
._4_pb._1a-{background-position:-17px -509px}
._4_pc._1a-{background-position:-34px -509px}
._4_pd._1a-{background-position:-51px -509px}
._4_pe._1a-{background-position:-68px -509px}
._4_pf._1a-{background-position:-85px -509px}
._4_pg._1a-{background-position:-102px -509px}
._4_ph._1a-{background-position:-119px -509px}
._4_pi._1a-{background-position:-136px -509px}
._4_pj._1a-{background-position:-153px -509px}
._4_pk._1a-{background-position:-170px -509px}
._4_pl._1a-{background-position:-187px -509px}
._4_pm._1a-{background-position:-204px -509px}
._4_pn._1a-{background-position:-221px -509px}
._2cy._1a-{background-position:-238px -509px}
._2cz._1a-{background-position:-255px -509px}
._4_po._1a-{background-position:-272px -509px}
._4_pp._1a-{background-position:-289px -509px}
._4_pq._1a-{background-position:0 -526px}
._2c-._1a-{background-position:-17px -526px}
._4_pr._1a-{background-position:-34px -526px}
._4_ps._1a-{background-position:-51px -526px}
._4_pt._1a-{background-position:-68px -526px}
._4_pu._1a-{background-position:-85px -526px}
._4_pv._1a-{background-position:-102px -526px}
._4_pw._1a-{background-position:-119px -526px}
._4_px._1a-{background-position:-136px -526px}
._4_py._1a-{background-position:-153px -526px}
._4_pz._1a-{background-position:-170px -526px}
._4_p-._1a-{background-position:-187px -526px}
._4_p_._1a-{background-position:-204px -526px}
._4_q0._1a-{background-position:-221px -526px}
._4_q1._1a-{background-position:-238px -526px}
._4_q2._1a-{background-position:-255px -526px}
._4_q3._1a-{background-position:-272px -526px}
._4_q4._1a-{background-position:-289px -526px}
._4_q5._1a-{background-position:0 -543px}
._4_q6._1a-{background-position:-17px -543px}
._4_q7._1a-{background-position:-34px -543px}
._4_q8._1a-{background-position:-51px -543px}
._4_q9._1a-{background-position:-68px -543px}
._2c_._1a-{background-position:-85px -543px}
._2d0._1a-{background-position:-102px -543px}
._2d1._1a-{background-position:-119px -543px}
._2d2._1a-{background-position:-136px -543px}
._2d3._1a-{background-position:-153px -543px}
._2d4._1a-{background-position:-170px -543px}
._2d5._1a-{background-position:-187px -543px}
._2d6._1a-{background-position:-204px -543px}
._2d7._1a-{background-position:-221px -543px}
._2d8._1a-{background-position:-238px -543px}
._2d9._1a-{background-position:-255px -543px}
._2da._1a-{background-position:-272px -543px}
._2db._1a-{background-position:-289px -543px}
._2dc._1a-{background-position:0 -560px}
._2dd._1a-{background-position:-17px -560px}
._2de._1a-{background-position:-34px -560px}
._2df._1a-{background-position:-51px -560px}
._2dg._1a-{background-position:-68px -560px}
._2dh._1a-{background-position:-85px -560px}
._2di._1a-{background-position:-102px -560px}
._2dj._1a-{background-position:-119px -560px}
._2dk._1a-{background-position:-136px -560px}
._2dl._1a-{background-position:-153px -560px}
._2dm._1a-{background-position:-170px -560px}
._2dn._1a-{background-position:-187px -560px}
._2do._1a-{background-position:-204px -560px}
._2dp._1a-{background-position:-221px -560px}
._2dq._1a-{background-position:-238px -560px}
._491._1a-{background-position:-255px -560px}
._2dr._1a-{background-position:-272px -560px}
._2ds._1a-{background-position:-289px -560px}
._2dt._1a-{background-position:0 -577px}
._2du._1a-{background-position:-17px -577px}
._2dv._1a-{background-position:-34px -577px}
._2dw._1a-{background-position:-51px -577px}
._2dx._1a-{background-position:-68px -577px}
._2dy._1a-{background-position:-85px -577px}
._2dz._1a-{background-position:-102px -577px}
._2d-._1a-{background-position:-119px -577px}
._2d_._1a-{background-position:-136px -577px}
._2e0._1a-{background-position:-153px -577px}
._2e1._1a-{background-position:-170px -577px}
._2e2._1a-{background-position:-187px -577px}
._2e3._1a-{background-position:-204px -577px}
._2e4._1a-{background-position:-221px -577px}
._2e5._1a-{background-position:-238px -577px}
._2e6._1a-{background-position:-255px -577px}
._2e7._1a-{background-position:-272px -577px}
._2e8._1a-{background-position:-289px -577px}
._2e9._1a-{background-position:0 -594px}
._2ea._1a-{background-position:-17px -594px}
._4_qa._1a-{background-position:-34px -594px}
._4_qb._1a-{background-position:-51px -594px}
._4_qc._1a-{background-position:-68px -594px}
._4_qd._1a-{background-position:-85px -594px}
._4_qe._1a-{background-position:-102px -594px}
._4_qf._1a-{background-position:-119px -594px}
._4_qg._1a-{background-position:-136px -594px}
._4_qh._1a-{background-position:-153px -594px}
._4_qi._1a-{background-position:-170px -594px}
._4_qj._1a-{background-position:-187px -594px}
._4_qk._1a-{background-position:-204px -594px}
._4_ql._1a-{background-position:-221px -594px}
._2eb._1a-{background-position:-238px -594px}
._2ec._1a-{background-position:-255px -594px}
._2ed._1a-{background-position:-272px -594px}
._2ee._1a-{background-position:-289px -594px}
._2ef._1a-{background-position:0 -611px}
._2eg._1a-{background-position:-17px -611px}
._2eh._1a-{background-position:-34px -611px}
._2ei._1a-{background-position:-51px -611px}
._2ej._1a-{background-position:-68px -611px}
._2ek._1a-{background-position:-85px -611px}
._2el._1a-{background-position:-102px -611px}
._2em._1a-{background-position:-119px -611px}
._2en._1a-{background-position:-136px -611px}
._2eo._1a-{background-position:-153px -611px}
._2ep._1a-{background-position:-170px -611px}
._2eq._1a-{background-position:-187px -611px}
._2er._1a-{background-position:-204px -611px}
._2es._1a-{background-position:-221px -611px}
._2et._1a-{background-position:-238px -611px}
._2eu._1a-{background-position:-255px -611px}
._2ev._1a-{background-position:-272px -611px}
._2ew._1a-{background-position:-289px -611px}
._2ex._1a-{background-position:0 -628px}
._4_qm._1a-{background-position:-17px -628px}
._2ey._1a-{background-position:-34px -628px}
._4_qn._1a-{background-position:-51px -628px}
._4_qo._1a-{background-position:-68px -628px}
._4_qp._1a-{background-position:-85px -628px}
._2ez._1a-{background-position:-102px -628px}
._4_qq._1a-{background-position:-119px -628px}
._4_qr._1a-{background-position:-136px -628px}
._4_qs._1a-{background-position:-153px -628px}
._2e-._1a-{background-position:-170px -628px}
._2e_._1a-{background-position:-187px -628px}
._2f0._1a-{background-position:-204px -628px}
._4_qt._1a-{background-position:-221px -628px}
._2f1._1a-{background-position:-238px -628px}
._2f2._1a-{background-position:-255px -628px}
._2f3._1a-{background-position:-272px -628px}
._2f4._1a-{background-position:-289px -628px}
._2f5._1a-{background-position:0 -645px}
._2f6._1a-{background-position:-17px -645px}
._2f7._1a-{background-position:-34px -645px}
._2f8._1a-{background-position:-51px -645px}
._2f9._1a-{background-position:-68px -645px}
._2fa._1a-{background-position:-85px -645px}
._4_qu._1a-{background-position:-102px -645px}
._4_qv._1a-{background-position:-119px -645px}
._4_qw._1a-{background-position:-136px -645px}
._4_qx._1a-{background-position:-153px -645px}
._2fb._1a-{background-position:-170px -645px}
._4_qy._1a-{background-position:-187px -645px}
._2fc._1a-{background-position:-204px -645px}
._2fd._1a-{background-position:-221px -645px}
._4_qz._1a-{background-position:-238px -645px}
._2fe._1a-{background-position:-255px -645px}
._2ff._1a-{background-position:-272px -645px}
._2fg._1a-{background-position:-289px -645px}
._4_q-._1a-{background-position:0 -662px}
._4_q_._1a-{background-position:-17px -662px}
._4_r0._1a-{background-position:-34px -662px}
._4_r1._1a-{background-position:-51px -662px}
._4_r2._1a-{background-position:-68px -662px}
._2fh._1a-{background-position:-85px -662px}
._4_r3._1a-{background-position:-102px -662px}
._2fi._1a-{background-position:-119px -662px}
._2fj._1a-{background-position:-136px -662px}
._2fk._1a-{background-position:-153px -662px}
._2fl._1a-{background-position:-170px -662px}
._4_r4._1a-{background-position:-187px -662px}
._4_r5._1a-{background-position:-204px -662px}
._2fm._1a-{background-position:-221px -662px}
._2fn._1a-{background-position:-238px -662px}
._4_r6._1a-{background-position:-255px -662px}
._4_r7._1a-{background-position:-272px -662px}
._4_r8._1a-{background-position:-289px -662px}
._4_r9._1a-{background-position:0 -679px}
._4_ra._1a-{background-position:-17px -679px}
._4_rb._1a-{background-position:-34px -679px}
._4_rc._1a-{background-position:-51px -679px}
._4_rd._1a-{background-position:-68px -679px}
._4_re._1a-{background-position:-85px -679px}
._4_rf._1a-{background-position:-102px -679px}
._2fo._1a-{background-position:-119px -679px}
._2fp._1a-{background-position:-136px -679px}
._4_rg._1a-{background-position:-153px -679px}
._4_rh._1a-{background-position:-170px -679px}
._4_ri._1a-{background-position:-187px -679px}
._4_rj._1a-{background-position:-204px -679px}
._2fq._1a-{background-position:-221px -679px}
._4_rk._1a-{background-position:-238px -679px}
._4_rl._1a-{background-position:-255px -679px}
._4_rm._1a-{background-position:-272px -679px}
._4_rn._1a-{background-position:-289px -679px}
._4_ro._1a-{background-position:0 -696px}
._4_rp._1a-{background-position:-17px -696px}
._4_rq._1a-{background-position:-34px -696px}
._4_rr._1a-{background-position:-51px -696px}
._4_rs._1a-{background-position:-68px -696px}
._4_rt._1a-{background-position:-85px -696px}
._2fr._1a-{background-position:-102px -696px}
._4_ru._1a-{background-position:-119px -696px}
._492._1a-{background-position:-136px -696px}
._4_rv._1a-{background-position:-153px -696px}
._4_rw._1a-{background-position:-170px -696px}
._4_rx._1a-{background-position:-187px -696px}
._4_ry._1a-{background-position:-204px -696px}
._4_rz._1a-{background-position:-221px -696px}
._4_r-._1a-{background-position:-238px -696px}
._4_r_._1a-{background-position:-255px -696px}
._4_s0._1a-{background-position:-272px -696px}
._4_s1._1a-{background-position:-289px -696px}
._4_s2._1a-{background-position:0 -713px}
._4_s3._1a-{background-position:-17px -713px}
._4_s4._1a-{background-position:-34px -713px}
._4_s5._1a-{background-position:-51px -713px}
._4_s6._1a-{background-position:-68px -713px}
._4_s7._1a-{background-position:-85px -713px}
._2fs._1a-{background-position:-102px -713px}
._2ft._1a-{background-position:-119px -713px}
._2fu._1a-{background-position:-136px -713px}
._2fv._1a-{background-position:-153px -713px}
._2fw._1a-{background-position:-170px -713px}
._2fx._1a-{background-position:-187px -713px}
._2fy._1a-{background-position:-204px -713px}
._2fz._1a-{background-position:-221px -713px}
._2f-._1a-{background-position:-238px -713px}
._2f_._1a-{background-position:-255px -713px}
._2g0._1a-{background-position:-272px -713px}
._2g1._1a-{background-position:-289px -713px}
._2g2._1a-{background-position:0 -730px}
._2g3._1a-{background-position:-17px -730px}
._2g4._1a-{background-position:-34px -730px}
._2g5._1a-{background-position:-51px -730px}
._2g6._1a-{background-position:-68px -730px}
._2g7._1a-{background-position:-85px -730px}
._2g8._1a-{background-position:-102px -730px}
._2g9._1a-{background-position:-119px -730px}
._2ga._1a-{background-position:-136px -730px}
._2gb._1a-{background-position:-153px -730px}
._2gc._1a-{background-position:-170px -730px}
._2gd._1a-{background-position:-187px -730px}
._2ge._1a-{background-position:-204px -730px}
._2gf._1a-{background-position:-221px -730px}
._2gg._1a-{background-position:-238px -730px}
._2gh._1a-{background-position:-255px -730px}
._2gi._1a-{background-position:-272px -730px}
._2gj._1a-{background-position:-289px -730px}
._2gk._1a-{background-position:0 -747px}
._2gl._1a-{background-position:-17px -747px}
._2gm._1a-{background-position:-34px -747px}
._2gn._1a-{background-position:-51px -747px}
._2go._1a-{background-position:-68px -747px}
._2gp._1a-{background-position:-85px -747px}
._2gq._1a-{background-position:-102px -747px}
._2gr._1a-{background-position:-119px -747px}
._2gs._1a-{background-position:-136px -747px}
._2gt._1a-{background-position:-153px -747px}
._2gu._1a-{background-position:-170px -747px}
._2gv._1a-{background-position:-187px -747px}
._2gw._1a-{background-position:-204px -747px}
._2gx._1a-{background-position:-221px -747px}
._2gy._1a-{background-position:-238px -747px}
._2gz._1a-{background-position:-255px -747px}
._2g-._1a-{background-position:-272px -747px}
._2g_._1a-{background-position:-289px -747px}
._4_s8._1a-{background-position:0 -764px}
._4_s9._1a-{background-position:-17px -764px}
._4_sa._1a-{background-position:-34px -764px}
._4_sb._1a-{background-position:-51px -764px}
._4_sc._1a-{background-position:-68px -764px}
._4_sd._1a-{background-position:-85px -764px}
._4_se._1a-{background-position:-102px -764px}
._4_sf._1a-{background-position:-119px -764px}
._4_sg._1a-{background-position:-136px -764px}
._4_sh._1a-{background-position:-153px -764px}
._4_si._1a-{background-position:-170px -764px}
._4_sj._1a-{background-position:-187px -764px}
._4_sk._1a-{background-position:-204px -764px}
._4_sl._1a-{background-position:-221px -764px}
._4_sm._1a-{background-position:-238px -764px}
._4_sn._1a-{background-position:-255px -764px}
._4_so._1a-{background-position:-272px -764px}
._4_sp._1a-{background-position:-289px -764px}
._4_sq._1a-{background-position:0 -781px}
._4_sr._1a-{background-position:-17px -781px}
._4_ss._1a-{background-position:-34px -781px}
._4_st._1a-{background-position:-51px -781px}
._4_su._1a-{background-position:-68px -781px}
._4_sv._1a-{background-position:-85px -781px}
._4_sw._1a-{background-position:-102px -781px}
._4_sx._1a-{background-position:-119px -781px}
._4_sy._1a-{background-position:-136px -781px}
._4_sz._1a-{background-position:-153px -781px}
._4_s-._1a-{background-position:-238px -781px}
._4_s_._1a-{background-position:-255px -781px}
._4_t0._1a-{background-position:-272px -781px}
._4_t1._1a-{background-position:-289px -781px}
._4_t2._1a-{background-position:0 -798px}
._4_t3._1a-{background-position:-17px -798px}
._4_t4._1a-{background-position:-68px -798px}
._2h0._1a-{background-position:-119px -798px}
._2h1._1a-{background-position:-136px -798px}
._4_t5._1a-{background-position:-238px -798px}
._4_t6._1a-{background-position:-255px -798px}
._2h2._1a-{background-position:-272px -798px}
._4_t7._1a-{background-position:-289px -798px}
._4_t8._1a-{background-position:0 -815px}
._4_t9._1a-{background-position:-17px -815px}
._4_ta._1a-{background-position:-34px -815px}
._2h3._1a-{background-position:-51px -815px}
._4_tb._1a-{background-position:-68px -815px}
._4_tc._1a-{background-position:-85px -815px}
._4_td._1a-{background-position:-102px -815px}
._4_te._1a-{background-position:-119px -815px}
._4_tf._1a-{background-position:-136px -815px}
._4_tg._1a-{background-position:-153px -815px}
._4_th._1a-{background-position:-170px -815px}
._2h4._1a-{background-position:-238px -815px}
._2h5._1a-{background-position:-255px -815px}
._2h6._1a-{background-position:-272px -815px}
._4_ti._1a-{background-position:-51px -832px}
._4_tj._1a-{background-position:-68px -832px}
._4_tk._1a-{background-position:-170px -832px}
._4_tl._1a-{background-position:-187px -832px}
._4_tm._1a-{background-position:-238px -832px}
._4_tn._1a-{background-position:-255px -832px}
._4_to._1a-{background-position:-272px -832px}
._4_tp._1a-{background-position:-289px -832px}
._4_tq._1a-{background-position:0 -849px}
._4_tr._1a-{background-position:-17px -849px}
._4_ts._1a-{background-position:-34px -849px}
._4_tt._1a-{background-position:-51px -849px}
._4_tu._1a-{background-position:-170px -781px}
._4_tv._1a-{background-position:-187px -781px}
._4_tw._1a-{background-position:-204px -781px}
._4_tx._1a-{background-position:-221px -781px}
._2h7._1a-{background-position:-34px -798px}
._2h8._1a-{background-position:-51px -798px}
._2h9._1a-{background-position:-85px -798px}
._2ha._1a-{background-position:-102px -798px}
._4_ty._1a-{background-position:-153px -798px}
._4_tz._1a-{background-position:-170px -798px}
._4_t-._1a-{background-position:-187px -798px}
._4_t_._1a-{background-position:-204px -798px}
._4_u0._1a-{background-position:-221px -798px}
._4_u1._1a-{background-position:-187px -815px}
._4_u2._1a-{background-position:-204px -815px}
._4_u3._1a-{background-position:-221px -815px}
._4_u4._1a-{background-position:-289px -815px}
._2hb._1a-{background-position:0 -832px}
._4_u5._1a-{background-position:-17px -832px}
._4_u6._1a-{background-position:-34px -832px}
._4_u7._1a-{background-position:-85px -832px}
._4_u8._1a-{background-position:-102px -832px}
._4_u9._1a-{background-position:-119px -832px}
._4_ua._1a-{background-position:-136px -832px}
._2hc._1a-{background-position:-153px -832px}
._4_ub._1a-{background-position:-204px -832px}
._4_uc._1a-{background-position:-221px -832px}
._4_ud._1a-{background-position:-68px -849px}
._4_ue._1a-{background-position:-85px -849px}